* {
    padding:0;
    margin:0;
    font-family: Arial sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width:940px;
}
header {
    height: 100vh;
    background-image: url('../images/bg_home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;

}
.navbar {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo {
    padding:4vh 1vh 2vh 1vh;
    background-color: #fa5c65;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0 0 10px 10px;
}
.navs {
padding:3vh;

}
.navs a {
    margin-left: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    color: #314a5b;

    font-weight: bold;
}
.home-text {
    max-width:800px;
    margin-top: 20vh;

}
.home-text h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #314a5b;
    font-weight: normal;
}
.home-text p {
    margin-top: 2vh;
    color: #314a5b;
    font-size: 2rem;
}
.home-text button {
    padding:1.5rem 2.5rem;
    margin-top: 2vh;
    border-radius: 10px;
    border:none;
    background: #fa5c65;
    color:white;
    text-transform: uppercase;
    font-weight: bolder;
}
.red-text {
    color:#fa5c65;
}

.descriptions {
    display:flex;
    padding-top:5vh;
    padding-bottom: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
}
.elem {
    max-width:300px;
    margin-top: 3vh;
}
.elem h2 {
    font-size: 1.7rem;
    color: #314a5b;
    text-transform: uppercase;
    font-weight: bolder;
}
.elem p {
    margin-top: 1.5vh;
    color: darkslategray;
}
.elem a {
    margin-top: 2vh;
    display:block;
    color: #fa5c65;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}
.portfolio {
    display:flex;
    flex-wrap: wrap;

}
.macbook {
    max-width:400px;
}
.portfolio-text {
    margin-top: 8vh;
    margin-left:2vh;
    max-width:400px;
}
.portfolio-text h2 {
    font-size: 2.5rem;
    color: #314a5b;
    text-transform: uppercase;
}
.portfolio-text h4 {
    margin-top: 2vh;
    color:darkslategray;
}
.portfolio-text p {
    margin-top: 2vh;
    color: gray;
}
.portfolio-text a {
    margin-top: 2vh;
    display:block;
    color: #fa5c65;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.our-team {
    padding-top: 5vh;
    padding-bottom:5vh;
}
.our-team-title h2 {
    font-size: 2rem;
    color: #314a5b;
    text-transform: uppercase;
}
.our-team-title h4 {
    font-size: 1.2rem;
    color: gray;
    margin-top: 1.5vh;
}

.our-team-personal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    padding-bottom:5vh;
}
.personal {
    max-width:300px;
    display:flex;
    margin-top: 3vh;
}
.personal h2 {
    text-transform: uppercase;
    color: #314a5b;
    margin-top: 2vh;
}
.personal h4 {
    color: #fa5c65;
    margin-top: 0.7vh;
}
.personal p {
    margin-top: 1.5vh;
}
.our-team a {
    display:block;
    float: right;
    margin-right: 6vh;
    color: #fa5c65;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}
footer {
    height:10vh;
    border-top:1px solid gray;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.soc-icons img{
    margin-left: 2vh;
    color: gray;

}
.copyrights {
    color:gray;
}

@media screen and (max-width: 650px) {
    .home-text h1 {
        font-size: 2rem;
    }
    .home-text h2 {
        font-size: 1.5rem;
    }
    .descriptions {
        justify-content: center;
    }
    .elem {
        margin-top: 7vh;
    }
    .our-team-personal {
        justify-content: center;
    }
    .our-team-title {
        text-align: center;
    }
}
